body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #0342df; /* A light grey background */
    color: #f20909;
}

h1 {
    color: #e2000b;
}

p {
    line-height: 1.6;
}